<div class="col-xs-12">
  <h3>Data</h3>
</div>
<div class="col-xs-12">
  <div class="table-responsive">
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Player 1</th>
          <th>Player 2</th>
          <th>Team</th>
          <th>WOWY Type</th>
          <th>Game Type</th>
          <th>EV TOI</th>
          <th>GF</th>
          <th>GA</th>
          <th>GF%</th>
          <th>GF/60</th>
          <th>GA/60</th>
          <th>SF</th>
          <th>SA</th>
          <th>SF%</th>
          <th>SF/60</th>
          <th>SA/60</th>
          <th>CF</th>
          <th>CA</th>
          <th>CF%</th>
          <th>CF/60</th>
          <th>CA/60</th>
          <th>FF</th>
          <th>FA</th>
          <th>FF%</th>
          <th>FF/60</th>
          <th>FA/60</th>
        </tr>
      </thead>
      <tfoot>
          <tr>
            <th>Player 1</th>
            <th>Player 2</th>
            <th>Team</th>
            <th>WOWY Type</th>
            <th>Game Type</th>
            <th>EV TOI</th>
            <th>GF</th>
            <th>GA</th>
            <th>GF%</th>
            <th>GF/60</th>
            <th>GA/60</th>
            <th>SF</th>
            <th>SA</th>
            <th>SF%</th>
            <th>SF/60</th>
            <th>SA/60</th>
            <th>CF</th>
            <th>CA</th>
            <th>CF%</th>
            <th>CF/60</th>
            <th>CA/60</th>
            <th>FF</th>
            <th>FA</th>
            <th>FF%</th>
            <th>FF/60</th>
            <th>FA/60</th>
          </tr>
        </tfoot>
      <tbody>
        <% for (var i = 0; i < data.length; i++) { %>
        <tr>
          <td><%= data[i].player1.fullName %></td>
          <td><%= data[i].player2.fullName %></td>
          <td><%= data[i].team %></td>
          <td><%= data[i].type %></td>
          <td><%= (data[i].gametype == 2) ? 'R' : 'P' %></td>
          <td><%= data[i].evtoi %></td>
          <td><%= data[i].gf %></td>
          <td><%= data[i].ga %></td>
          <td><%= data[i].gfpct %></td>
          <td><%= data[i].gf60 %></td>
          <td><%= data[i].ga60 %></td>
          <td><%= data[i].sf %></td>
          <td><%= data[i].sa %></td>
          <td><%= data[i].sfpct %></td>
          <td><%= data[i].sf60 %></td>
          <td><%= data[i].sa60 %></td>
          <td><%= data[i].cf %></td>
          <td><%= data[i].ca %></td>
          <td><%= data[i].cfpct %></td>
          <td><%= data[i].cf60 %></td>
          <td><%= data[i].ca60 %></td>
          <td><%= data[i].ff %></td>
          <td><%= data[i].fa %></td>
          <td><%= data[i].ffpct %></td>
          <td><%= data[i].ff60 %></td>
          <td><%= data[i].fa60 %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>